:root {
  --color-main: #353535;
  --color-accent: #284b63;
  --color-secondary: #3c6e71;
  --color-light: #ffffff;
  --color-body: #D9D9D9;

  --font-headings: "Helvetica", sans-serif;
  --font-base: "Roboto", sans-serif;
}

/* * {
  outline: 1px solid red;
} */

body {
  color: var(--color-main);
  background-color: transparent;
  font-family: var(--font-base);
  font-size: 20px;
  text-align: center;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--color-light);
  background-color: var(--color-secondary);
}

header > * + *,
footer > * + * {
  margin-top: 1rem;
}

header {
  position: fixed;
  width: 100%;
  font-weight: bold;
}

.heading {
  font-family: var(--font-headings);
  color: var(--color-secondary);
}

.links {
  display: flex;
  justify-content: space-around;
}

main {
  padding-top: 10rem;
  margin: 0 auto;
}

.profile-wrapper > * + * {
  margin-top: 1rem;
}

.button-wrapper > * + * {
  margin-top: 0.5rem;
}

button {
  color: var(--color-secondary);
  padding: 0.25rem 1rem;
  border-radius: 30px;
  border: 2px solid var(--color-secondary);
  margin-bottom: 1rem;
}

button:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.profile-pic {
  margin: 1rem auto;
  width: 100px;
  border-radius: 50%;
}

.section-wrapper {
    background-color: var(--color-light);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section-wrapper > * + * {
    margin-top: 1rem;
}

.colors-reverse {
    color: var(--color-light);
    background-color: var(--color-accent);
}

.colors-reverse > * {
    color: var(--color-light);
    background-color: var(--color-accent);
}

.align-left {
    text-align: left;
}

@media only screen and (min-width: 700px) {

  body {
    background-color: var(--color-body, lightgrey);
  }

  header,
  footer {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  header > * + *,
  footer > * + * {
    margin-top: 0rem;
  }

  nav,
  .nav {
    width: 50%;
    flex: 1;
    order: 2;
  }

  .header-footer-text {
    flex: 1;
    order: 1;
  }

  .links,
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .links > * + *,
  .wrapper > * + * {
    margin-left: 1rem;
  }

  main {
    padding-top: 5rem;
    max-width: 50rem;
  }

  .profile-wrapper {
    width: 300px;
    margin-left: 5rem;
  }
}
